:host{
    display: grid;
    gap: 1rem;
    grid-template-columns: 200px 1fr;
}
header{
    grid-column: 1/3;
    padding: 1rem;
    border: 1px solid #d1cdcd;
}
header h1{
    padding: 0 1rem;
    border: 2px solid red;
    width: max-content;
}
nav{
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1rem;
}
nav ul {
    list-style: none;
}
nav ul li {
    padding: 0.8rem;
    border: 1px solid lightgray;
}
nav ul li:not(:last-child) {
    margin-bottom: 1rem;
}
nav ul li:hover{
    background-color: rgb(94, 91, 91);
    cursor: pointer;
    color: white;
}
main{
    border: 1px solid lightgrey;
}

main>* {
    height: 100%;
}
